/*****************************
CSS for ToDo liste
******************************/
.main{
    background-color: rgb(191, 230, 191);
    margin:   5px;
    padding: 20px;
  } 
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container { 
  color: bisque;
  display: flex; 
  background-color: #2d412a;
}

.flex-container div {
  margin: 5px;
  padding: 5px;
}
 
.flex-container > img {
  margin: 5px;
  padding: 5px;
}

.flex-container a {
  color: white;
}

table, th, td {
  border: 1px solid black;
}


